body {
    margin: 0;
}
.main {
    background-color: aquamarine;
}
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.comments {
    margin-top: 10px;
    padding-left: 20px;
}