{% extends 'base_template.html' %}

{% block title %}
Perfiles en sección video
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cat_video.css') }}">
{% endblock %}

{% block content %}
    <div class="main">
        <section id="perfiles">
            <div class="profile" onclick="showProfile('perfil1')">
                <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
                <div class="summary">
                    <h3>persona 1</h3>
                    <p>Desarrollador Web</p>
                </div>
            </div>
            <div class="profile" onclick="showProfile('perfil2')">
                <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
                <div class="summary"> 
                    <h3>persona 2</h3>
                    <p>Diseñadora Gráfica</p>
                </div>
            </div>
            <!-- Más perfiles aquí -->
            <div class="profile" onclick="showProfile('perfil3')">
                <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
                <div class="summary"> 
                    <h3>persona 3</h3>
                    <p>Desarrollador Web</p>
                </div>
            </div>
            
            <div class="profile" onclick="showProfile('perfil4')">
                <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
                <div class="summary"> 
                    <h3>persona 5</h3>
                    <p>Desarrollador Web</p>
                </div>
            </div>

        </section>

        <div id="fullProfile" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeProfile()">&times;</span>
                <h2 id="fullName"></h2>
                <p id="fullArea"></p>
                <p id="fullDescription"></p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/cat_video.js') }}"></script>
{% endblock %}
