
{% extends "base_template.html" %}


{% block title %}
Videos Inspiradores
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stiindexcali.css') }}">
{% endblock %}

{% block content %}
    <header>
        <!-- Barra de navegacion superior -->
        <a href="/inicio"><h1 class="title">DegiNNex</h1></a>
        <nav id="navbar">
            <ul>
                <li><a href="#servicios" >Servicios</a></li>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="#about">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section class="video-section">
        <div class="video-grid">
            <div class="category large">
                <div class="image" style="background-image: url('url-de-imagen-1.jpg');"></div>
                <h3>portafolio de los programadores</h3>
            </div>
            <div class="category small">
                <div class="image" style="background-image: url('img/fotografo.png');"></div>
                <h3>imagenes</h3>
            </div>
            <div class="category small">
                <div class="image" style="background-image: url('img/editando-video.jpg');"></div>
                <h3>video</h3>
            </div>
            <div class="category small">
                <div class="image" style="background-image: url('img/haciedo-musica-digital.png');"></div>
                <h3>Audio</h3>
            </div>
            <div class="category small">
                <div class="image" style="background-image: url('img/programando-pagina-web.jpg');"></div>
                <h3>Sitios web</h3>
            </div>
        </div>
    </section>

    <footer>
        <!-- Sobre nosotros -->
        <section id="about">
            <h2>Acerca de Nosotros</h2>
            <p>Somos una plataforma dedicada a conectar profesionales creativos con clientes.</p>
        </section>
        <p><strong>&copy; 2024 DegiNNex, Warens inc. </strong></p>
    </footer>
{% endblock %}
