<!-- home perfil -->

{% extends "base_template.html" %}


{% block title %}
    Perfil
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{{url_for('static', filename='css/perfil.css')}}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="card">
            <!-- <img src="{{ usuario.foto }}" class="card-img-top" alt="..."> -->
            <div class="card-body">
            <h5 class="card-title">{{ usuario.nombre }} {{ usuario.apellido }} </h5>
            <p class="card-text">{{usuario.correo }}</p>
            <div class="botones">
                <a href="/editar" class="btn btn-primary">Editar</a>
                <a href="/logout" class="btn btn-secondary">Cerrar Sesión</a>
                <a href="/eliminar_user" class="btn btn-danger">borrar usuario</a>
            </div>
            </div>
        </div>
        <div class="mensaje">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
